$cream-color: #feeee2;
$dark-bg-color: #141329;

@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin transform-animation {
  will-change: transform;
  transform: translate3d(0px, 0vw, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

@font-face {
  font-family: "Obviously";
  src: url("../fonts/Obviously-Narrow_Bold.woff2");
}
@font-face {
  font-family: "Vulf Sans";
  src: url("../fonts/Vulf_Sans-Regular.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 1vw 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  @include flex-center-col();
  row-gap: 1vw;

  color: $cream-color;
  background: $dark-bg-color;
}

/* General */
img {
  height: 100%;
  object-fit: cover;
}

/* Text Styles */
h1,
h2,
h3,
h4,
p {
  @include flex-center-col();
  font-family: "Obviously", sans-serif;
}

.mega-title {
  //   margin-top: auto;
  //   padding-bottom: 4vw;
  font-size: 17vw;
  line-height: 14vw;
  letter-spacing: 0.5vw;
  white-space: nowrap;
}
.title-large {
  //   margin-bottom: 1vw;
  font-size: 4.5vw;
  line-height: 3.3vw;
}
.title {
  //   margin-bottom: auto;
  font-size: 3.5vw;
  line-height: 3.3vw;
  text-transform: uppercase;
}

.text-block {
  padding-bottom: 0.5vw;
  font-size: 3.5vw;
}
.text-block-2 {
  padding-bottom: 0.5vw;
  font-size: 2vw;
  line-height: 2vw;
  font-family: "Vulf Sans", sans-serif;
}
.text-large {
  //   margin: 2vw auto auto;
  font-size: 2.5vw;
  line-height: 2.5vw;
  text-transform: uppercase;
  font-family: "Vulf Sans", sans-serif;
}
.text-wide {
  margin: 2vw 0;
  width: 60vw;
  font-size: 2.5vw;
  line-height: 3vw;
  text-transform: uppercase;
  font-family: "Vulf Sans", sans-serif;
}
.text {
  //   margin: 2vw auto auto;
  width: 20vw;
  font-size: 2.5vw;
  line-height: 3vw;
  text-transform: uppercase;
  font-family: "Vulf Sans", sans-serif;
}

/* Images */
.star {
  width: 2.5vw;
  height: auto;
  @include transform-animation();
}
.star-2 {
  width: 9vw;
  height: auto;
}
.fire {
  width: 18.5vw;
  height: auto;
}

/* BUY NOW STRIP */
.scroll-container {
  @include flex-center-row();
  column-gap: 2vw;
  white-space: nowrap;
}

/* MAIN SECTIONS */
.main-section {
  width: 97vw;
  height: 54vw;
  @include flex-center-row();
  justify-content: space-around;
  cursor: pointer;

  > div {
    height: 100%;
  }

  .text-container {
    width: 22vw;
    @include flex-center-col();
    border-radius: 5vw;
    border: 0.25vw solid $cream-color;

    &.left {
      row-gap: 2vw;
    }
    &.right {
      row-gap: 1.5vw;
      .img-container {
        padding: 0.75vw;
        width: 101%;
        text-align: center;
        border-top: 0.25vw solid $cream-color;
        border-bottom: 0.25vw solid $cream-color;
      }
    }
  }

  .logo-container {
    .logo {
      width: 47vw;
    }
  }
}

.info-section {
  margin: 5vw;
  width: 97vw;
  height: 54vw;
  @include flex-center-row();
  position: relative;

  .content {
    width: 88vw;
    height: 54vw;
    overflow: hidden;

    @include flex-center-col();
    border: 0.25vw solid $cream-color;

    .img-behind {
      position: absolute;
      height: 40vw;
      z-index: -1;
    }
    .inner-scroll {
      height: 55vw;
      @include flex-center-col();
      row-gap: 6vw;
      @include transform-animation();
    }
  }

  .borders {
    .wtf {
      height: 5vw;
      @include flex-center-row();
      position: absolute;
      overflow: hidden;
      &.top {
        width: 88vw;
        top: -5vw;
        border-top: 0.25vw solid $cream-color;
      }
      &.bottom {
        width: 88vw;
        bottom: -5vw;
        border-bottom: 0.25vw solid $cream-color;
      }
      &.left {
        width: 55vw;
        top: 25vw;
        left: -25vw;
        transform: rotate(-90deg);
        border-top: 0.25vw solid $cream-color;
      }
      &.right {
        width: 55vw;
        top: 25vw;
        right: -25vw;
        transform: rotate(90deg);
        border-top: 0.25vw solid $cream-color;
      }
    }
  }

  .corners {
    .star-2 {
      position: absolute;
      z-index: 2;
      &.top-left {
        left: 0;
        top: -5vw;
      }
      &.top-right {
        right: 0;
        top: -5vw;
      }
      &.bottom-left {
        left: 0;
        bottom: -5vw;
      }
      &.bottom-right {
        right: 0;
        bottom: -5vw;
      }
    }
  }
}
